<div class="row">
    <div class="col-3"> 
        <%= render "sidebar" %> 
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-header text-info">
                <p class="m-0">Description</p>
            </div>
            <div class="card-body">
                <%= form_for(@room) do |f| %>
                    <div class="form-group">
                        <div>Listing name</div><br>
                        <%= f.text_field :name, placeholder:"What is your listing name", required: true, class:"form-control" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :Summary %><br>
                        <%= f.text_area :summary, placeholder: "Summary of your house", class:"form-control" %>
                    </div>
                        <%= f.submit "Save", class: 'btn btn-block btn-success w-25'%>
                    </div>
            </div>
        </div>        
        <% end %>
    </div>

</div>
