<div class="row">
    <div class="col-3">
        <%= render "sidebar" %> 
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header text-info">
                <p class="m-0">Listing</p>
            </div>
            <div class="card-body">
                <%= form_for(@room) do |f| %>
                    <div class="row">
                        <div class="listings col-4 py-2">
                            <div class="form-group">
                                <label>Home type</label>
                                <%= f.select :home_type, [["Select...", ""],["Apartment"], ["House"], ["Bed&Breakfast"]], {}, class: "form-control" %>
                            </div>
                        </div>
                        <div class="listings col-4 py-2">
                            <div class="form-group">
                                <label>Room type</label>
                                <%= f.select :room_type, [["Select...", ""],["Entire"], ["Private"], ["Shared"]], {}, class: "form-control" %>
                            </div>
                        </div>
                        <div class="listings col-4 py-2">
                            <div class="form-group">
                                <label>Accommodate</label>
                                <%= f.select :guest_count, [["Select...", ""],["1"], ["2"], ["3"], ["+4"]], {}, class: "form-control" %>
                            </div>
                        </div>
                        <div class="listings col-4 py-2">
                            <div class="form-group">
                                <label>Bedrooms</label>
                                <%= f.select :bedroom_count, [["Select...", ""],["1"], ["2"], ["3"], ["+4"]], {}, class: "form-control"%>
                            </div>
                        </div>
                        <div class="listings col-4 py-2">
                            <div class="form-group">
                                <label>Home type</label>
                                <%= f.select :bathroom_count, [["1"], ["2"], ["3"], ["+4"]], {}, class: "form-control" ,prompt: "Select..." %>
                            </div>
                        </div>
                    </div>
                    <%= f.submit "Save", class: 'btn btn-block btn-success w-25'%>
                <% end %>
            </div>
        </div>
 
    </div>
</div>