<div class="row">
    <%= image_tag @room.photos.first.image.url, :class => "img-responsive col-12 room-photo"%>
    <div class="col-12 row p-2">
        <div class="col-9">
            <div class="d-inline-block">
                <h1><%= @room.name %></h1>
                <h3><%= @room.address %></h3>
            </div>
            <div class="d-inline-block float-right">
                <%= image_tag avatar_url(@room.user), class: "avatar-md rounded-circle" %><br>
                <%= @room.user.fullname %>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col-3">
                    <i class="fa fa-home fa-3x"></i>
                    <p><%= @room.home_type %></p>
                </div>
                <div class="col-3">
                    <i class="fa fa-user-circle fa-3x"></i><br>
                    <p><%= @room.guest_count %> Guests</p>
                </div>
                <div class="col-3">
                    <i class="fa fa-bath fa-3x"></i><br>
                    <p><%= @room.bathroom_count %> Bathroom</p>
                </div>
                <div class="col-3">
                    <i class="fa fa-bed fa-3x"></i><br>
                    <p><%= @room.bedroom_count %> Bedroom</p>
                </div>
            </div>
            <hr>
            <%# description %>
            <div class="description">
                <h3>About this listing</h3>
                <%= @room.summary %>
            </div>
            <hr>
            <%# amenity %>
            <div class="row">
                <h3 class="col-3">Amenities</h3><br>
                <div class="col-9 row">
                    <div class="<%= 'line-through' unless @room.has_tv %> col-6 p-2">TV</div>
                    <div class="<%= 'line-through' unless @room.has_aircon %> col-6 p-2">Air Conditioning</div>
                    <div class="<%= 'line-through' unless @room.has_heating %> col-6 p-2">Heating</div>
                    <div class="<%= 'line-through' unless @room.has_internet %> col-6 p-2">Internet</div>
                    <div class="<%= 'line-through' unless @room.has_kitchen %> col-6 p-2">Kitchen</div>
                </div>
            </div>
            <hr>
            <%# カルーセル %>
            <div id="carouselExampleIndicators" class="carousel slide pt-2" data-ride="carousel">
                <ol class="carousel-indicators">
                    <% @photos.each do |photo| %> 
                        <li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
                    <% end %>
                </ol>
                <div class="carousel-inner">
                    <% @photos.each do |photo| %> 
                        <div class="carousel-item <%= 'active' if photo.id == @photos[0].id %>">
                            <%= image_tag photo.image.url, class: "d-block w-100" %>
                        </div>
                    <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr>
            <%# map %>
            <div class="row text-center map-margin">
                <div id="map"></div>
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASDQzE8fKFa7Tl3kO44cgVTMGSb783Su0"></script>
                <script>
                    function initialize() {
                        var location = {lat: Number("<%= @room.latitude %>"), lng: Number("<%= @room.longitude %>")};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: location,
                            zoom: 14
                        });

                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                        
                        var infoWindow = new google.maps.InfoWindow({
                            content: '<div id="content"><%= image_tag @room.photos.first.image.url , class: "map-image" %></div>'
                        });

                        infoWindow.open(map, marker);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                    <%# googlemapとhtmlを繋いでいる %>
            </div>
            <hr>

            <p>2 reviews ***</p>
            <div class="review_contents">
            <%# each文 %>
                <div class="d-inline-block"><%# レビューしたユーザーグラバタール class:"d-inline-block"%>
                </div>
                <div class="d-inline-block">
                    <%# レビュー %>
                    <%# レビューした日付 %>
                    <%# レビュー内容 %>
                </div>
            </div>
            <hr>
            <%# nearbys %>
            <h3>Nearbys</h3>
            <div class="row col-12 pb-3">
                <% if @room.nearbys %>
                    <% for room in @room.nearbys(10) %>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="row">
                                    <%= image_tag room.photos.first.image.url, :class => "img-responsive col-12" %>
                                </div>
                                <div class="card-body">
                                    <%= link_to room.name, room %><br>
                                    (<%= room.distance.round(2) %> kms away)
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <p class="display-4">No nearby rooms</p>
                <% end %>
            </div>
            <hr class="py-4">
        </div>

        <div class="col-3 p-0">
            <div class="card">
                <div class="card-header">
                    <div>
                        $<%= @room.price %> Per Night
                    </div>
                </div>
                <%= form_for([@room, @room.reservations.new]) do |f| %>
                    <div class="card-body row">
                        <div class="col-6">
                            <div>Check in</div>
                            <%= f.text_field :check_in ,size:"10", maxlength:"20",class:"my-1 form-control"%>
                        </div>
                        <div class="col-6">
                            <div>Check out</div>
                            <%= f.text_field :check_out ,size:"10", maxlength:"20",class:"my-1 form-control", disabled: true %>
                        </div>
                        <h4><span id="message"></span></h4>
                        <div class="row text-center" id="preview" style="display: none;">
                            <div class="col-6">Price</div>
                            <div class="col-6"><%= @room.price %></div>
                            <hr class="col-10">
                            <div class="col-6">Night(s)</div>
                            <div class="col-6" id="reservation-nights" ></div>
                            <hr class="col-10">
                            <div class="col-6">Total</div>
                            <div class="col-6" id="reservation-total" ></div>
                            <hr class="col-10">
                        </div>
                        <%= f.submit "Book now", id:"btn-book", class: 'btn btn-block btn-success w-50 col-10 text-center ml-4', disabled: true %>
                    </div>
                <% end %>

                <script>
                    function checkDate(date){
                        dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
                        return [$.inArray(dmy, unavailableDates) == -1];
                    }

                    $(function(){
                        unavailableDates = [];

                        $.ajax({
                            url: "<%= preload_room_path(@room) %>",
                            dataType: 'json',
                            success: function(data){

                                $.each(data, function(arrID, arrValue) {
                                    for(var d = new Date(arrValue.check_in); d <= new Date(arrValue.check_out); d.setDate(d.getDate() + 1)) {
                                        unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
                                    }
                                });

                                $('#reservation_check_in').datepicker({
                                    dateFormat: 'dd-mm-yy',
                                    minDate: 0,
                                    maxDate: '3m',
                                    beforeShowDay: checkDate,
                                    onSelect: function(selected){
                                        $('#reservation_check_out').datepicker("option", "minDate", selected);
                                        $('#reservation_check_out').attr("disabled", false);

                                        var start_date = $('#reservation_check_in').datepicker('getDate');
                                        var end_date = $('#reservation_check_out').datepicker('getDate');
                                        var nights = (end_date - start_date)/1000/60/60/24 +1;

                                        var input = {
                                            'check_in': start_date,
                                            'check_out': end_date
                                        }
                                        $.ajax({
                                            url:'<%= preview_room_path(@room) %>',
                                            data: input,
                                            success: function(data){
                                                if(data.conflict){
                                                    $('#message').text("These dates are not avalable.");
                                                    $('#preview').hide();
                                                    $('#btn-book').attr('disabled', true);
                                                } else{
                                                    $('#message').text("");
                                                    $('#preview').show();
                                                    $('#btn-book').attr('disabled', false);

                                                    var total = nights * <%= @room.price %>;
                                                    $('#reservation-nights').text(nights);
                                                    $('#reservation-total').text(total);
                                                }
                                            }
                                        });
                                    }
                                });
                                $('#reservation_check_out').datepicker({
                                    dateFormat: 'dd-mm-yy',
                                    minDate: 0,
                                    maxDate: '3m',
                                    beforeShowDay: checkDate,
                                    onSelect: function(selected) {
                                        $('#reservation_check_in').datepicker("option", "maxDate", selected);

                                        var start_date = $('#reservation_check_in').datepicker('getDate');
                                        var end_date = $('#reservation_check_out').datepicker('getDate');
                                        var nights = (end_date - start_date)/1000/60/60/24 +1;

                                        var input = {
                                            'check_in': start_date,
                                            'check_out': end_date
                                        }
                                        $.ajax({
                                            url:'<%= preview_room_path(@room) %>',
                                            data: input,
                                            success: function(data){
                                                if(data.conflict){
                                                    $('#message').text("These dates are not avalable.");
                                                    $('#preview').hide();
                                                    $('#btn-book').attr('disabled', true);
                                                } else{
                                                    $('#message').text("");
                                                    $('#preview').show();
                                                    $('#btn-book').attr('disabled', false);

                                                    var total = nights * <%= @room.price %>;
                                                    $('#reservation-nights').text(nights);
                                                    $('#reservation-total').text(total);
                                                }
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    });
                </script>

            </div>
        </div>
    </div>
</div>